<name-global-header (sideNavToggle)="sideNavToggle()"></name-global-header>
<div class="wrapper">
  <div class="container">
    <name-global-sidenav [opened]="sideNavOpen">
      <mat-nav-list sidenav>
        <a
          mat-list-item
          routerLinkActive="active-link"
          routerLink="/"
          (click)="sideNavToggle()"
        >
          <span class="App__sidenav-text">Home</span>
        </a>
      </mat-nav-list>
      <router-outlet></router-outlet>
    </name-global-sidenav>
  </div>
</div>
<name-global-footer> </name-global-footer>
<name-global-footer> </name-global-footer>
